.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.itemsNav {
  text-decoration: none;
  color: black;
  position: relative; 
}

/* Subrayado solo en pantallas grandes */
@media (min-width: 992px) {
  .itemsNav::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px; 
    background-color: black; 
    transition: width 0.2s ease; 
  }
  
  .itemsNav:hover::after {
    width: 100%; /* Subrayado al pasar el cursor */
  }
  
  .itemsNav:hover {
    color: #444547; 
    font-weight: bold; 
  }
}

/* En pantallas pequeñas y medianas, no mostrar el subrayado */
@media (max-width: 991px) {
  .itemsNav:hover::after {
    width: 0; /* El subrayado no aparecerá */
  }

  .itemsNav:hover {
    background-color: #d1d1d1; /* Opcional, si deseas un color de fondo al hacer hover */
    color: #444547; /* Puedes ajustar el color si es necesario */
    font-weight: bold; 
  }
}





.itemsNavActivo{
  color: black !important;
  font-weight: bold !important;
}

@media(min-width:992px){
  .itemsNavActivo{
  text-decoration: underline !important;
  text-decoration-color:  #007bff !important;
  text-decoration-thickness: 0.2rem !important; 
  text-underline-offset: 0.5rem; 
  }
}

@media (max-width:991px){
.itemsNavActivo{
  background-color: #d1d1d1 !important;
}
}

